.content_wrap
{
    width: 100%;
    margin-top:10px; 
}
.contents
{
    float: left;
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;

}
.img_contet
{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.img_contet img
{
    transition: .5s all;
   
}
.img_contet:hover img
{
    opacity: .6;
    transform: scale(1.2);
   
}
.img_contet:hover i
{
  display: block;
}
.contents i
{
   position: absolute;
   top:50%;
   left: 50%;
   font-size: 50px;
   display: none;
   transform: translate(-50%,-50%);
}
.contents img
{
  width: 100%;
  max-height: 400px;
}
.footer
{
    background-color: #567f86;
    padding: 20px 0px;
}
.footerlogo 
{
    text-align: center;
   
}
.footerlogo img
{
   vertical-align: middle;
   width: 100px;
}
.footerlogo span
{
  font-weight: bold;
  font-size: 25px;
  color:#c7b06b;
}
.infowrap::after
{
   content: '';
   clear: both;
   display: block;
}
#midle_content::after
{
    content: '';
   clear: both;
   display: block;
}
.infowrap div
{
  width: 33%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
.text_middle
{
  text-align: center;
}
.listitem
{
  list-style: none;
  padding: 0;
}
.listitem li
{
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.pagecolor
{
  color:blue;
}