.header_wrap
{
 display: flex;   
 align-items: center;
 width: 80%;
 margin: 0 auto;
}
.logo img
{
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
.logo
{
  font-size: 25px;
  font-weight: bold;
   
}
.header_menu
{
    margin-left: auto; 
    font-size: 0;
}
.header_menu a
{
    padding: 0 10px;
    display: inline-block;
    height: 100%;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 80px;
    cursor: pointer;
}
.header_menu a:hover
{
   color:#c7b06b;
}
.header
{
    width: 100%;
    background-color: #fefefe;
    position: fixed;
    top:0;
    z-index: 100;
}
.header_background img
{
    width: 100%;
    max-height:700px;
    
}
.swiper-wrapper
{
    max-height:800px;
    
}
body
{
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}
.swiper-container {
    width: 100%;
    background-color: #303030;
    margin-top: 80px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .fa-bars{
      font-size: 30px;
      line-height: 80px;
  }
  .menubt
  {
      margin-left: auto;
      display: none;
      width: 80px;
      text-align: center;
      cursor: pointer;
  }
@media screen and (max-width:1000px)
{
   .header_menu
   {
       position: fixed;
       left: 100%;
       width: 100vw;
       top:80px;
       z-index: 100;
       background-color: #fff;
       text-align: center;
   }
   .header_menu a
   {
      display: block;
      width: 100%;
      margin: 0;
      border-top: 1px solid black;
   }
   .menubt
   {
       display: block;
   }
   .header_wrap
   {
       width: 100%;
   }
   .header_button
   {
       display: none;
   }
   .contents
   {
       width: 50% !important;
   }
   .infowrap div
   {
       width: 100% !important;
   }
}
@media screen and (max-width:600px)
{
    .contents
    {
        width: 100% !important;
        
    }
    .img_contet img
    {
          height: 250px;
    }
 }

